{% extends 'base.html' %}
{% load static%}


{% block content %}
<style>
.bg-fish {
    background-image: url('{% static 'assets/Fish1.jpg' %}');
    background-size: cover;
    background-position: center;
}</style>

        <!-- Header-->
        <header class="bg-fish py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class=" text text-center text-white">
            <h1 class="display-4 fw-bolder">Giỏ hàng</h1>
            <p class="lead fw-normal text-white-50 mb-0">Xem giỏ hàng của bạn...</p>

        </div>
    </div>
</header>
<br/>
<div class="container">
    {% for product in cart_products %}
        <div class="card mb-3" >
            <div class="row g-0">
                <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="load">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <center>
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    

                    {% if product.is_sale %}

                        <strike class="product-price">{{product.price}}VNĐ</strike>
                        <strong class="product-price">{{product.sale_price}}VNĐ</strong>
                                                    

                    {% else %}
                        <strong class="product-price">{{product.price}}VNĐ</strong>
                        <br/>ID: {{ product.id }}
                    {% endif %}

                    <br/> <br/>
                        <div class="row justify-content-center">
                    <div class="col-md-2">Số lượng:</div>
                        <div class="col-md-2">
                        <select class="form-select form-select-sm" id="select{{product.id}}">
                        
                    {% for key, value in quantities.items %}
                        {% if key == product.id|slugify %}
                    <option selected>{{ value }}</option>
                        {% endif %}
                    {% endfor %}
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        
                        </select>
                        </div>
                    </div>
                    <br/> <br/>
                    <a href="{% url 'home' %}" class="btn btn-secondary">Trang chủ</a>
                    <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-cart">Cập nhật số lượng</button>
                    <button type="button" data-index="{{product.id}}" class="btn btn-danger delete-product">Xóa sản phẩm</button>

                    </center>
                    
                </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <h3>Tổng cộng: {{ totals }}VNĐ</h3>

        {% comment %} <br/><br/><br/>
        {% else %}
        There's Nothing In Your Cart...
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/> {% endcomment %}
</div>
        
       
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>



<script>
//Update cart
$(document).on('click', '.update-cart', function(e){
  e.preventDefault();
  //
  var productid = $(this).data('index');
  $.ajax({
        type: 'POST',
        url: '{% url 'cart_update' %}',
        data: {
  product_id: $(this).data('index'),
  product_qty: $('#select' + productid + ' option:selected').text(),
  csrfmiddlewaretoken: '{{ csrf_token }}',
  action: 'post'
         },

    success: function(json){
      //console.log(json)
      //document.getElementById("cart_quantity")
        //textContent = json.qty
        location.reload();
    },

    error: function(xhr, errmsg, err){

    },

  });
})


//Delete cart
// Delete Item From Cart
$(document).on('click', '.delete-product', function(e){
    e.preventDefault();
    // grab the product id
    //var productid = $(this).data('index');

    $.ajax({
    type: 'POST',
    url: '{% url 'cart_delete' %}',
    data: {
      product_id: $(this).data('index'),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },
    success: function(json){
        //console.log(json)
        //document.getElementById("cart_quantity").textContent = json.qty
        location.reload();
    },

    error: function(xhr, errmsg, err){

    }


    });

})

</script>

{% endblock %}